#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
li{
  list-style: none;
}

#outerFilterContainer{
  position: absolute;
  left: 0px;
  top: 0px;
}

#checkboxContainer{
  position: relative;
}

.modaltrue{
  display: block;
}

.modalfalse{
  display: none;
}

.anim{
  -webkit-transition: all 5s; 
     -moz-transition: all 5s;
       -o-transition: all 5s;
          transition: all 5s;  
}

$blurEffect: blur(20px);

.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  left: 0px;
  top: 0px;
  background-color: rgba(244, 244, 244, 0.1);
  backdrop-filter: $blurEffect;
}

.checkBox{
  display: flex;
  justify-content: left;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  left: 0px;
  // position: ab;
  
}

#movieList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  left: 0px;
  // position: ab;
}

.movieInfo{
    position: relative;
    h1{
      font-size: 2em;
      justify-content: center;
      word-break: break-word;
      width: 10em;
  }
}